@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Mono:wght@300&display=swap');

*{
   scroll-behavior: smooth;
   box-sizing: border-box;
     
}

section[class="comandosInicio"]{
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom: solid 2px rgba(0, 212, 220);
    height: 30px;    
    text-align: center;
    padding-top: 50px;
        
    
}

html{
    background-image: url("/Image/0045d3cebd9711b83689bd592d9712a5.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-size:cover;
    
    
}

::-webkit-scrollbar{
    width: 5px;
    background-color: rgba(0, 0, 0);
    
}

::-webkit-scrollbar-thumb{
    width: 10px;
    background-color:  rgba(0, 212, 219);
    
}


body{ 
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100%;
    width: 100%;   
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}



div[class="name"]{

background-color: rgba(0, 0, 0, 0.5);
border-radius: 10px;
box-sizing: content-box;





}




.ConteúdoSite{

position: absolute;

}





section[class="Formacao"]{
   
    display:flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
   

}
section[class="Cursos"]{
    display:flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
   
    
    
}
section[class="ButaoBack"]{
    text-align: center;
    text-decoration: none;
    


}




   

li[class = "link"]{
    
    padding-bottom: 100px;
   



}

















a { 
    font-size:x-large;
    color: rgb(219, 208, 208);
    text-decoration: none;
    text-align: center;
    
   
}

a[class="Butao Back"]{
    color:rgb(219, 208, 208);

    
    
    
}
a:hover{
    background: none;
    transform:  scale(1.05);
    color:  rgb(255, 255, 255);
    border:none;
    transition: 0.3s;
    cursor: pointer;
    font-size: 2rem;
}






a[class="home"]{
color: white;
text-shadow: #000;
box-shadow: #000;
padding-left: 10px;
padding-top: 4px;
}







ul {
    display:flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    
    
    text-shadow: #000 1px 2px 1px;
    height: 6px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0,0,0,0.25);
    border-radius: 20px;

    
    height: 1px;
   padding: 10px;
    
}






header img {
    width: 310px;
    height: 340px;
    border-radius: 30%;
    border: 5px solid rgb(255, 255, 255);
    

}







.center {
    padding-left: 50px;
    padding-top: 100px;
    text-align: justify;
    align-content: center;
}














h1 {
    display: flex;
    color: rgba(0, 212, 219);
    text-shadow: #000 1px 2px 1px;
    justify-content: center;  
 
   
}
h2{
    display: flex;
    color: rgb(0, 212, 219);
    text-shadow: #000 1px 2px 1px;
    justify-content: center;
}

h2[class="home"]{
    padding-top: 10px;
    padding-right: 10x;
    color:  rgb(255, 255, 255);
    text-shadow: #000 2px 2px 1px 1px;

}

h3{
    font-size: x-large;
    text-align: center;
    padding-top: 100px;
    color:rgb(0, 183, 255);
    text-shadow: #000 1px 2px 1px;
}
h3[class="Cursos"]{
    padding-top: 10px;
    
    
}
h3[class="home"]{
    padding-top: 10px;
    text-align: left;
    
    
}






p {
    color: rgb(172, 203, 225);
    font-family:serif; 
    font-weight:bold;
    font-size:x-large;
    text-align-last: center;
    text-shadow: #000 1px 2px 1px;
   
   
}





header{
    padding: 0px 50px;

}







footer{
    display: flex;
    justify-content: center;
    
    

}
footer Image[class="Github"]{
    width: 40px;
    height: 40px;

}
footer Image[class="linkedin"]{
    width: 40px;
    height: 40px;

}
footer Image[class="Gmail"]{
    width: 40px;
    height: 40px;

}

footer a[class="Github"] {
    margin: 28px;
    text-align: center;
    text-shadow: none;
    padding-top: 400px;
    box-sizing:content-box;
}
footer a[class="linkedin"]{
    margin: 20px;
    text-align: center;
    text-shadow: none;
    padding-top: 400px;
    box-sizing: none;

}
footer a[class="Gmail"]{
    margin: 18px;
    text-align: center;
    text-shadow: none;
    padding-top: 400px;
    box-sizing: none;

}
footer p[Class="Github"] {
    margin-top: 1px;
    color: rgb(7, 7, 7);
    text-shadow: none; 
    

}
footer p[Class="linkedin"] {
    margin-top: -12px;
    color: rgb(7, 7, 7);
    text-shadow: none;
    
}
footer p[Class="Gmail"] {
    margin-top: 1px;
    color: rgb(7, 7, 7);
    text-shadow: none; 
    

}







nav a :hover {

    color: rgb(255, 255, 255);
    text-shadow: #000 1px 2px 1px;
}

